
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Web - {{ homePage }} Home</title>
	<style>
		@import '../web/css/intro.css';
		@import '../web/css/layout.css';
		@import '../web/css/navbar.css';
	</style>
	<div class="backImage">
		<img src="../web/images/homePage.jpg">
	</div>
</head>

<body>
	<ul>
		<li>
			<a href="/index.php?action=Home" class="{% block homePageLinkStyle %}{% endblock %}">home page</a>
		</li>
		<li>
			<a href="/index.php?action=about" class="{% block aboutPageLinkStyle %} {% endblock %}">about page</a>
		</li>
		+
	</ul>



	<h1>Page</h1>
	<p>Welcome to my website</p>
</body>
