.column_container {
	display: flex;
}

.backImage{
	display:flex;
	width:100%;
}

.column_container section {
	flex: 1;
	background-color: lightred;
	border: 0.1rem solid;
	padding: 1rem;
}

body {
	background-image: url("../web/images/homePage.jpg");
	background-color: grey;
	width: 100%;
	
	}

p {
	color: black;
	font-family: Verdana, Geneva, sans-serif;

}

h2 {
	color: #33acff;
	font-family: Verdana, Geneva, sans-serif;
	}
	
h1 {
	color: #33acff;
	font-family: Verdana, Geneva, sans-serif;
	
}

footer {
	display: block;
	text-decoration: center;
	color: lack;
}

ol {
	color: black;
}
html {
	color: black;
}