<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Web - {{ pageTitle }} Home</title>
	<style>
		@import '../web/css/intro.css';
		@import '../web/css/layout.css';
		@import '../web/css/navbar.css';
	</style>
	<div class="backImage">
		<img src="../web/images/homePage.jpg">
	</div>
</head>

<body>
	<label id="login">
		<nav>
			<ul id="login-navbar">
				<span>Please log in - </span>&nbsp;

				<span>Username: <input type="text" size="20" maxlength="20" name="Username" id="Username" required autofocus></span>

				<span>Password: <input type="password" size="20" maxlength="20" name="Password" id="Password" required></span>

			</ul>
		</nav>

	<ul>
		<li>
			<a href="/index.php?action=Home" class="{% block homePageLinkStyle %}{% endblock %}">home page</a>
		</li>
		<li>
			<a href="/index.php?action=about" class="{% block aboutPageLinkStyle %} {% endblock %}">about page</a>
		</li>
	</ul>

	<h1>Page</h1>
	<p>Welcome to my website</p>
</body>
