<!doctype html>
<html lang = "en">
<head>
	<meta charset = "UTF-8">
	<title>About</title>
	<style>
		@import '../web/css/intro.css';
		@import '../web/css/layout.css';
		@import '../web/css/navbar.css';
	</style>
</head>

<body>
	<h1>{{About Page}}</h1>
	<p>{{FILLER FILLER FILLER}}</p>

</body>
</html>
<!-- dosfojsdjfosdfjsd -->
