<?php
namespace EFProject;
?>

{% extends '_template.html.twig' %}


{% block homePageLinkStyle %}current_page{% endblock %}

{% block main %}
	I am the about page!

	here are the modules:
	{% for module in modules %}
		<ul>
			<li>
				id: {{ module.id }}
				<br>
				module title: {{ module.title }}
			</li>
		</ul>
	{% else %}
		<p>
		(there are no modules)
	{% endfor %}
{% endblock %}
